
huggingface-hub==0.25.2
kagglehub==0.3.2
keras==3.6.0
keras-core==0.1.7
keras-cv==0.9.0
keras-models==0.0.7
numpy==1.26.4
opencv-python==4.10.0.84
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pywin32==305.1
tensorflow==2.17.0
tensorflow-datasets==4.9.6
tensorflow-intel==2.17.0
tensorflow-metadata==1.16.1
tf_keras==2.17.0
tokenizers==0.20.1
transformers==4.45.2
PTL

